.vscode/
*.db

build/ 
install/
log/


.colcon/
.colcon_ignore


**pycache**/
*.pyc
*.pyo
*.pyd
*.pyc.*
*.swp

venv/
.env/
.envrc


CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile


.vscode/
.idea/
*.code-workspace



.DS_Store
Thumbs.db


*.log
*.tmp
*.bak


~/.gz/
~/.ignition/


*.db3
*.bag


*.zip
*.tar
*.gz


